
# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

# Uncomment this if you are using SSL/TLS, running in Docker container, etc.
http:
  # For extra security set this to only accept connections on localhost if NGINX is on the same machine
  # server_host: 127.0.0.1
  # Update this line to be your domain
  base_url: https://home.skeeg.net
  use_x_forwarded_for: true
  # You must set the trusted proxy IP address so that Home Assistant will properly accept connections
  # Set this to your NGINX machine IP, or localhost if hosted on the same machine.
  trusted_proxies: 10.2.2.4

# Text to speech
tts:
  - platform: google_translate

group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

tuya:
  username: !secret tuya_username
  password: !secret tuya_password
  country_code: "1"
  platform: "smart_life"

cover:
  - platform: myq
    username: !secret myq_username
    password: !secret myq_password

# Example configuration.yaml entry
binary_sensor:
  - platform: workday
    country: US
    workdays: [mon, tue, wed, thu, fri]
    excludes: [sat, sun, holiday]
    add_holidays:
      - '2018-12-26'
      - '2018-12-31'
      - '2020-07-06'
      - '2020-07-07'
      - '2020-07-08'
      - '2020-07-09'
      - '2020-07-10'

ring:
  username: !secret ring_username
  password: !secret ring_password

camera:
  platform: ring

media_player:
  - platform: songpal
    name: soundbar
    endpoint: http://10.2.3.115:10000/sony

homekit:
  filter:
    include_domains:
      - cover
      - light
      - switch
    exclude_entities:
      - switch.03200076dc4f22233dae
      - switch.03200076dc4f222297ed
      - switch.03200076dc4f2222937d
      - switch.03200076dc4f22233473
      - switch.03200076dc4f22233c1f
      - switch.03200076dc4f22233be2
      - switch.03200076dc4f22233d50

mqtt:
  broker: 10.2.2.4
  port: 1883
  client_id: skg-home-assistant
  keepalive: 60
  username: admin
  password: admin
  protocol: 3.1
  birth_message:
    topic: "homeassistant/tele/hass1/LWT"
    payload: "Online"
    qos: 1
    retain: true
  will_message:
    topic: "homeassistant/tele/hass1/LWT"
    payload: "Offline"
    qos: 1
    retain: true

group:
  lights:
    name: AllLights
    entities:
      - light.family_lights
      - light.entry_cans
  bedtime:
    name: BedTime
    entities:
      - switch.demo_tasmota_switch
      - light.family_lights
      - light.entry_cans

switch:
  - platform: mqtt
    name: "Demo Tasmota Switch"
    availability_topic: "homeassistant/tele/demo_unit/LWT"
    state_topic: "homeassistant/stat/demo_unit/POWER"
    command_topic: "homeassistant/cmnd/demo_unit/POWER"
    qos: 0
    payload_available: "Online"
    payload_not_available: "Offline"
    optimistic: false
    retain: true
  - platform: mqtt
    name: "Family Fan"
    availability_topic: "homeassistant/tele/FamilyFan/LWT"
    state_topic: "homeassistant/stat/FamilyFan/POWER"
    command_topic: "homeassistant/cmnd/FamilyFan/POWER"
    qos: 0
    payload_available: "Online"
    payload_not_available: "Offline"
    optimistic: false
    retain: true
  - platform: mqtt
    name: "Curtain Lights"
    availability_topic: "homeassistant/tele/CurtainLights/LWT"
    state_topic: "homeassistant/stat/CurtainLights/POWER"
    command_topic: "homeassistant/cmnd/CurtainLights/POWER"
    qos: 0
    payload_available: "Online"
    payload_not_available: "Offline"
    optimistic: false
    retain: true

sensor:
- platform: mqtt
  name: Curtain Light Energy Yesterday
  state_topic: "homeassistant/tele/CurtainLights/SENSOR"
  value_template: '{{ value_json["ENERGY"]["Yesterday"] }}'
  scan_interval: 300
  unit_of_measurement: kWh
- platform: mqtt
  name: Curtain Light Energy Today
  state_topic: "homeassistant/tele/CurtainLights/SENSOR"
  value_template: '{{ value_json["ENERGY"]["Today"] }}'
  scan_interval: 300
  unit_of_measurement: kWh
- platform: mqtt
  name: Curtain Light Watts
  state_topic: "homeassistant/tele/CurtainLights/SENSOR"
  value_template: '{{ value_json["ENERGY"]["ApparentPower"] }}'
  scan_interval: 300
  unit_of_measurement: W

light:
  - platform: mqtt
    name: "Family Lights"
    availability_topic: "homeassistant/tele/FamilyLights/LWT"
    state_topic: "homeassistant/stat/FamilyLights/POWER"
    command_topic: "homeassistant/cmnd/FamilyLights/POWER"
    qos: 0
    payload_available: "Online"
    payload_not_available: "Offline"
    optimistic: false
    retain: true
  - platform: mqtt
    name: "Entry Cans"
    availability_topic: "homeassistant/tele/EntryCans/LWT"
    state_topic: "homeassistant/stat/EntryCans/POWER"
    command_topic: "homeassistant/cmnd/EntryCansGroup/POWER"
    qos: 0
    payload_available: "Online"
    payload_not_available: "Offline"
    optimistic: false
    retain: true

