
# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

# Uncomment this if you are using SSL/TLS, running in Docker container, etc.
#http:
  # For extra security set this to only accept connections on localhost if NGINX is on the same machine
  # server_host: 127.0.0.1
  # Update this line to be your domain
  # base_url: https://home.skeeg.net
  # use_x_forwarded_for: true
  # You must set the trusted proxy IP address so that Home Assistant will properly accept connections
  # Set this to your NGINX machine IP, or localhost if hosted on the same machine.
  # trusted_proxies: 10.2.2.4

# Text to speech
tts:
  - platform: google_translate

group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
#camera: !include cameras.yaml
#camera:
# - platform: generic
#   name: sidefrontcam
#   authentication: digest
#   username: !secret ip_cam_user
#   password: !secret ip_cam_pass
#   still_image_url: http://10.2.3.10/cgi-bin/snapshot.cgi
#   stream_source: rtsp://stream:homeassistantstream@10.2.3.10:554/cam/realmonitor?channel=1&subtype=1&unicast=true&proto=Onvif
# - platform: generic
#   name: frontdoorcam
#   authentication: digest
#   username: !secret ip_cam_user
#   password: !secret ip_cam_pass
#   still_image_url: http://10.2.3.11/cgi-bin/snapshot.cgi
#   stream_source: rtsp://stream:homeassistantstream@10.2.3.11:554/cam/realmonitor?channel=1&subtype=1&unicast=true&proto=Onvif
# - platform: generic
#   name: sidebackcam
#   authentication: digest
#    username: !secret ip_cam_user
#   password: !secret ip_cam_pass
#   still_image_url: http://10.2.3.12/cgi-bin/snapshot.cgi
#   stream_source: rtsp://stream:homeassistantstream@10.2.3.12:554/cam/realmonitor?channel=1&subtype=1&unicast=true&proto=Onvif
# - platform: generic
#   name: backdoorcam
#   authentication: digest
#   username: !secret ip_cam_user
#   password: !secret ip_cam_pass
#   still_image_url: http://10.2.3.13/cgi-bin/snapshot.cgi
#   stream_source: rtsp://stream:homeassistantstream@10.2.3.13:554/cam/realmonitor?channel=1&subtype=1&unicast=true&proto=Onvif
 
# Example configuration.yaml entry
# binary_sensor:
#    - platform: workday
#      country: US
#      workdays: [mon, tue, wed, thu, fri]
#      excludes: [sat, sun, holiday]
#      add_holidays:
#        - '2020-12-25'
#        - '2021-01-01'

# lovelace:
#   resources:
#     url: /config/www/lovelace-card-mod/card-mod.js?v=2
#     type: module

# nest:
#  client_id: !secret nest_client_id
#  client_secret: !secret nest_client_secret
#  project_id: !secret nest_project_id

# media_player:
#   - platform: songpal
#     name: soundbar
#     endpoint: http://10.2.3.115:10000/sony
# prometheus:

timer:
  powder_bathroom_fan:
    duration: '00:20:00'
  kids_bathroom_fan:
    duration: '00:20:00'
  dads_lamp:
    duration: '02:00:00'
  outdoor_decorations:
    duration: '05:00:00'
  internet_router_restoration:
    duration: '00:00:15'
